*{
    box-sizing: border-box;
}
body{
    /* background:linear-gradient(	rgb(0,128,0)); */
    width: 100%;
    background: linear-gradient(to right, #010729, #040614);
    font-family: "Poppins";
}
.image img{
    border: 14px solid white;
    width: 130%;
    height: 80vh;
    margin-bottom: 29%;
    opacity: 0.5;
}
.container{
    margin-left: 19%;
    margin-top: 5%;
}

.about{
    display: flex;
    /* flex-wrap: wrap; */
}
.about h2{
    position: absolute;
    margin-left: -22%;
    color: white;
    font-size: 0.4in;
}
.naming-book{
    position: absolute;
    width: 20vw;
    height: 25vw;
    background-color: white;
    line-height: 0.8cm;
    backdrop-filter: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 3%;
    margin-top: -40%;
    margin-left: 42%;
    transform: rotate(-12deg);
    border-radius: 15% 15%;

}
.naming-book img{
    width: 5vw;
    height: 9vh;
    border-radius:50% 50%;
    border: 3px solid rgb(4, 4, 37);
    margin-top: -30%;
    margin-left: 31%;
}
.naming-book strong{
    display: flex;
    justify-content: center;
    padding-top: 9%;
    color: rgb(4, 4, 37);
}
.review{
    width: 60vw;
    height: 125vh;
    background-color: white;
    opacity: 0.8;
    border-radius: 5%;
    box-shadow: 12px 15px 12px rgb(63, 63, 148),12px 15px 12px rgb(63, 63, 148);
}
.review p{
    line-height: 1cm;
    margin: 4%;
}
.review h1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#author{
    display: flex;
    justify-content: center;
}
.fa-whatsapp{
    border: 1px solid;
 border-radius: 50% 50%;
 padding: 22%;
 /* background-color: black; */
}
.fa-facebook{
    border: 1px solid;
    border-radius: 50% 50%;
    padding: 42%;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 1cm;
    margin-top: 18%;
}

@media screen and (min-width:300px) and (max-width:950px){
    body{
        overflow-x: hidden;
        width: 100%;
        font-size: 0.7em;
        /* overflow-x: hidden; */
    }
    .about{
        display: block;
    }
    .container{
        margin-left: 4%;
        margin-top: 2%;
    }
    .naming-book{
        position: unset;
        width: 85vw;
        height: 85vw;
        background-color: white;
        line-height: 0.6cm;
        backdrop-filter: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding: 3%;
        margin-top: -20%;
        margin-left: 2%;
        transform: none;
        border-radius: 15% 15%;
    
    }
    .image img{
        border: 14px solid white;
        width: 93%;
        height: 40vh;
        margin-bottom: 29%;
        opacity: 0.5;
    }
    .review{
        width: 90vw;
        height: 85vh;
        background-color: white;
        opacity: 0.8;
        border-radius: 5%;
        box-shadow: 12px 15px 12px rgb(63, 63, 148),12px 15px 12px rgb(63, 63, 148);
    }
    .review p{
        line-height: 0.4cm;
        margin: 4%;
    }
    .about h2{
        position: absolute;
        margin-top: -120%;
        margin-left: 25%;
        color: white;
        font-size: 1.5em;
    }
    .naming-book img{
        width: 15vw;
        height: 7vh;
        border-radius:50% 50%;
        border: 3px solid rgb(4, 4, 37);
        margin-top: -28%;
        margin-left: 37%;
    }
}
@media screen and (min-width:750px) and (max-width:1300px){
   body{
    font-size: 1.2em;
   }
    .image img{
        border: 14px solid white;
        width: 90%;
        height: 40vh;
        margin-bottom: 20%;
        opacity: 0.5;
    }
    .container{
        margin-left: 5%;
        margin-top: 2%;
    }
    .naming-book{
        position: unset;
        width: 70vw;
        height: 55vw;
        background-color: white;
        line-height: 0.6cm;
        backdrop-filter: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding: 3%;
        margin-top: -20%;
        margin-left: 8%;
        transform: none;
        border-radius: 15% 15%;
    
    }
    .naming-book img{
        width: 15vw;
        height: 7vh;
        border-radius:50% 50%;
        border: 3px solid rgb(4, 4, 37);
        margin-top: -10%;
        margin-left: 37%;
    }
    .review p{
        line-height: 0.6cm;
        margin: 4%;
    }
    .icons{
        display: flex;
        justify-content: center;
        gap: 1cm;
        margin-top: 12%;
    }
    .review{
        width: 90vw;
        height: 105vh;
        background-color: white;
        opacity: 0.8;
        border-radius: 5%;
        box-shadow: 12px 15px 12px rgb(63, 63, 148),12px 15px 12px rgb(63, 63, 148);
    }
    .about h2{
        position: absolute;
        margin-top: -75%;
        margin-left: 25%;
        color: white;
        font-size: 1.5em;
    }
}