body{
    /* background:linear-gradient(	rgb(0,128,0)); */
    background: linear-gradient(to right, #010729, #040614);
    font-family: "Poppins";
}
.image img{
    border: 14px solid white;
    width: 130%;
    height: 80vh;
    margin-bottom: 29%;
    opacity: 0.5;
    /* background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; */
}
.container{
    margin-left: 19%;
    margin-top: 5%;
}

.about{
    display: flex;
    /* flex-wrap: wrap; */
}
.about h2{
    /* justify-content: end; */
    position: absolute;
    margin-left: -22%;
    color: white;
    font-size: 0.4in;
    /* align-items: flex-end; */
}
.naming-book{
    position: absolute;
    width: 20vw;
    height: 25vw;
    background-color: white;
    line-height: 0.8cm;
    backdrop-filter: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 3%;
    margin-top: -40%;
    margin-left: 42%;
    transform: rotate(-12deg);
    border-radius: 15% 15%;
    /* margin-right: -12%; */
    /* bo */
    /* flex-wrap: wrap; */
}
.naming-book img{
    width: 5vw;
    height: 9vh;
    border-radius:50% 50%;
    border: 3px solid rgb(4, 4, 37);
    margin-top: -30%;
    margin-left: 31%;
}
.naming-book strong{
    display: flex;
    justify-content: center;
    padding-top: 9%;
    color: rgb(4, 4, 37);
}
.review{
    width: 60vw;
    height: 125vh;
    background-color: white;
    opacity: 0.6;
    border-radius: 5%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: 12px 15px 12px rgb(63, 63, 148),12px 15px 12px rgb(63, 63, 148);
}
.review p{
    line-height: 1cm;
    margin: 4%;
}
.review h1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#author{
    display: flex;
    justify-content: center;
}
.fa-whatsapp{
    border: 1px solid;
 border-radius: 50% 50%;
 padding: 22%;
 /* background-color: black; */
}
.fa-facebook{
    border: 1px solid;
    border-radius: 50% 50%;
    padding: 42%;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 1cm;
    margin-top: 18%;
}

@media  screen and(min-width:350px) and(max-width:857px){
    .about{
        display: block;
        /* flex-wrap: wrap; */
    }
    
}