.crime{
border: 1px solid black;
padding: 3%;
margin-left: 5%;
margin-right: 5%;
margin-top: 2%;
font-size: 30px;
background-color: rgb(160, 160, 228); 
 
display: block;


}
.crime h1, h6{
    text-align: center;

}
.crime img{
position: absolute;
left: 82.2%;
border-radius: 10px;
top: 4%;

}
