@keyframes fadeIn {
    from {
       opacity: 0;
       transform: translateY(20px);
    }
 
    to {
       opacity: 1;
       transform: translateY(0);
    }
 
 }
 
 html,
 body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: large;
    overflow-x: hidden;
    background-color: #E0E1DD;
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .header {
    padding-top: 2.5%;
    display: flex;
    justify-content: space-between;
 
    color: white;
    background-color: #0D1B2A;
 }
 
 
 h1,
 h2 {
    text-align: center;
    font-family: "Poppins";
 }
 
 a:hover {
    color: #FF6F61;
 }
 
 button {
    cursor: pointer;
 }
 
 button:hover {
    color: #FF6F61;
 }
 
 .home {
    text-align: center;
    position: relative;
    height: 90vh;
    color: #FFE599;
    border-bottom: solid 1px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image-audio/homepp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2%;
 }
 
 #menu-button {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    z-index: 1001;
    position: relative;
 }
 
 #menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 93.5vh;
    width: 30%;
    background-color: #E0E1DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 1000;
 }
 
 #menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 #menu nav a {
    color: #0D1B2A;
    text-decoration: none;
    font-size: 2.5rem;
    margin: 20px 0;
    transition: color 0.3s ease;
 }
 
 #menu nav a:hover {
    color: #00A8E8;
 }
 
 #menu.show {
    transform: translateX(0);
 }
 
 #close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
 }
 
 
 .home h1 {
    font-size: 50px;
    animation: fadeIn 2s ease forwards;
 }
 
 .home h2 {
 
    margin-top: 7%;
    font-size: 35px;
 
 }
 
 #read {
    margin-top: 2%;
    padding: 1%;
    font-size: medium;
    border: none;
    cursor: pointer;
    border-radius: 25px;
 }
 
 #read a {
    text-decoration: none;
    color: #0D1B2A;
 }
 
 
 .why-this-title {
    margin-top: 4%;
    padding: 1%;
    height: 50vh;
    display: flex;
    border-top: solid 1px #7B3F00;
    border-bottom: solid 1px #7B3F00;
 }
 
 .why-this-title>div {
    width: 50%;
    padding: 2%;
    line-height: 34px;
 }
 
 .why-this-title img {
    width: 25vw;
    height: 40vh;
    padding-left: 17%;
 }
 
 .personal-blog {
    width: 100%;
    display: flex;
    height: 60vh;
 }
 
 .blog-content {
    margin-top: 5%;
    width: 50%;
 }
 
 .personal-blog-content {
    padding-top: 2%;
    line-height: 33px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
 }
 
 .personal-blog-content:target {
    display: block;
    opacity: 1;
 }
 
 #intro {
    width: 90%;
 }
 
 #intro img {
    width: 65%;
 }
 
 .navigation {
    background-color: #E0E1DD;
    width: 50%;
    padding-top: 7%;
    padding-left: 5%;
 }
 
 .navigation a {
    color: #111224;
    text-decoration: none;
    cursor: pointer;
    line-height: 90px;
    display: flex;
    font-size: 2.5em;
    flex-direction: column;
 }
 
 #reflection-thought {
    width: 90%;
    height: 10vh;
    padding: 0%;
    position: relative;
    span {
       font-size: xx-large;
       position: absolute;
 
    }
 }
 
 #personal-reflection {
    display: flex;
    gap: 10%;
 }
 
 #personal-reflection img {
    width: 15vw;
 }
 
 #response-to-quote {
    margin-left: 10%;
    position: relative;
 }
 
 .born-a-crime {
    top: -4%;
    left: 75%;
    position: absolute;
 }
 
 .greater {
    right: 25%;
    cursor: pointer;
    top: 90%;
 }
 
 .less {
    cursor: pointer;
    top: 90%;
    right: 35%;
 }
 
 #reflection-thought button {
    border: none;
 }
 
 .quote {
    font-family: "Playfair";
    padding-left: 1%;
    width: 60%;
    border-left: solid 1px;
 }
 
 .hidden {
    display: none;
 }
 
 .response {
    display: none;
 }
 
 .response.active {
    display: block;
 }
 
 .special-quote {
    margin-top: 4%;
    animation: fadeIn 2s ease forwards;
    font-family: "Playfair";
 }
 
 .about-trevor {
    padding-left: 7%;
    display: flex;
    gap: 10%;
 }
 #about-trevor{
    margin-top: 6%;
 }
 .about-trevor img {
    width: 40vw;
    height: 50vh;
 }
 #noah-trevor{
    width: 69vw;
 }
 footer {
    margin-top: 4%;
    padding: 1%;
    background-color: #1B1B1B;
    text-align: center;
    color: white;
 }
 
 #first-line {
    width: 50%;
 }
 
 input {
    border: none;
    border-radius: 12px;
    padding: 1%;
    margin: 1% 0.2%;
 }
 
 hr {
    height: 2px;
    border-width: 0;
    background-color: rgb(95, 88, 88)
 }
 
 
 
 @media only screen and (max-width:750px) {
    
 .home h1 {
    font-size: 20px;
    animation: fadeIn 2s ease forwards;
 }
 .header {
    padding-top: 2.5%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    background-color: #0D1B2A;
 }
 .header div:not(:nth-child(3)){
    margin-top: 1.5%;
 }
 
 .home h2 {
 
    margin-top: 7%;
    font-size: 25px;
 
 }
 
 #read {
    margin-top: 20%;
    padding: 3%;
    font-size: medium;
    border: none;
    cursor: pointer;
    border-radius: 25px;
 }
 #menu-button {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    z-index: 1001;
    position: relative;
 }
    #menu nav a {
       color: #0D1B2A;
       text-decoration: none;
       font-size: 0.6rem;
       margin: 20px 0;
       transition: color 0.3s ease;
    }
    .why-this-title {
       margin-top: 4%;
       padding: 1%;
       height: 70vh;
       width: 100vw;
       display: flex;
       flex-direction: column;
       border-top: solid 1px #7B3F00;
       border-bottom: solid 1px #7B3F00;
    }
    .why-this-title-content p{
       font-size: small;
         height: 10vh;
         width: 100vw;
    }
    .why-this-title-content h1{
         width: 100vw;
    }
    .why-this-title img {
       width: 65vw;
       height: 35vh;
       padding-left: 17%;
    }
    .response {
       display: none;
    }
    .personal-blog {
       width: 100%;
       display: flex;
       flex-direction: column;
       height: 100vh;
    }
    .personal-blog-content {
       padding-top: 2%;
       line-height: 33px;
       display: none;
       opacity: 0;
       height: 100vh;
       transition: opacity 0.5s ease-in-out;
    }
    
    .blog-content {
       margin-left: 1%;
       margin-top: 5%;
       width: 100%;
       height: 100vh;
    }
 
    #intro {
       width: 90%;
    }
    
    #intro img {
       margin-left: 15%;
       width: 75%;
    }
    
    .navigation {
       background-color: #E0E1DD;
       width: 50%;
       padding-top: 7%;
       padding-left: 25%;
    }
    
    .navigation a {
       color: #111224;
       text-decoration: none;
       cursor: pointer;
       line-height: 90px;
       display: flex;
       font-size: 1.1em;
       flex-direction: column;
    }
    
    #reflection-thought {
       width: 90%;
       padding: 0%;
       position: relative;
       height: 60vh;
    
       span {
          font-size: xx-large;
          position: absolute;
    
       }
    }
    
    #personal-reflection {
       display: flex;
       flex-direction: column;
       height: 100vh;
       font-size: 15px;
      
    }
    #menu {
       position: fixed;
       top: -1%;
       right: 0;
       height: 100vh;
       width: 30%;
       background-color: #E0E1DD;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       transform: translateX(100%);
       transition: transform 0.4s ease;
       z-index: 1000;
    }
    
    #personal-reflection img {
       margin-left: 25%;
       width: 50vw;
       height:40vh;
    }
    
    .about-trevor {
       padding-left: 7%;
       display: flex;
       flex-wrap: wrap;
       gap: 10%;
    }
    #about-trevor{
       margin-top: 6vh;
    }
    .about-trevor img {
       margin-top: 2%;
       width: 40vw;
       height: 30vh;
    }
    #noah-trevor{
       width: 85vw;
    }
    .greater {
       right: 25%;
       cursor: pointer;
       top: 110%;
    }
    
    .less {
       cursor: pointer;
       top: 110%;
       right: 35%;
    }
    #personal-reflection {
       display: flex;
       flex-direction: column;
    }
    
    #personal-reflection img {
       width: 55vw;
    }
    input {
       border: none;
       border-radius: 12px;
       padding: 3%;
       margin: 1% 2%;
    }
    footer {
       margin-top: 4%;
       padding: 1%;
       background-color: #1B1B1B;
       text-align: center;
       color: white;
       font-size: small;
    }
    #reflection-thought {
       width: 90%;
       padding: 0%;
       position: relative;
      overflow:scroll;
       span {
          font-size: xx-large;
          position: absolute;
    
       }
    }
    
    
 }
 
 @media only screen and (min-width:751px) and (max-width:999px){
    .home h2 {
 
       margin-top: 17%;
       font-size: 25px;
    
    }
    .why-this-title {
       margin-top: 4%;
       padding: 1%;
       height: 100vh;
       width: 100vw;
       display: flex;
       flex-direction: column;
       border-top: solid 1px #7B3F00;
       border-bottom: solid 1px #7B3F00;
    }
    .why-this-title-content p{
       font-size: large;
       width: 100vw;
         height: 50vh;
    }
    .why-this-title-content h1{
      width: 100vw;
    }
    .why-this-title-content{
       font-size: large;
       width: 100vw;
         height: 35vh;
    }
    .why-this-title img {
       width: 75vw;
       height: 40vh;
       padding-left: 17%;
    }
    #read {
       margin-top: 20%;
       padding: 3%;
       font-size: medium;
       border: none;
       cursor: pointer;
       border-radius: 25px;
    }
    .navigation a {
       color: #111224;
       text-decoration: none;
       cursor: pointer;
       line-height: 90px;
       display: flex;
       font-size: 1.7em;
       flex-direction: column;
    }
    .personal-blog-content {
       padding-top: 2%;
       line-height: 33px;
       display: none;
       width: 100vw;
       opacity: 0;
       font-size: small;
       height: 100vh;
       transition: opacity 0.5s ease-in-out;
    }
    #reflection-thought {
       width: 90%;
       padding: 0%;
       height: 50vh;
       position: relative;
      overflow:scroll;
       span {
          font-size: xx-large;
          position: absolute;
    
       }
    }
    #personal-reflection {
       border: solid ;
       height: 20vh;
       overflow: scroll;
       display: flex;
       flex-direction: column;
       margin-top: 4%;
    }
    #personal-reflection img {
        margin-left: 12%;
       height: 35vh;
       width: 35vw;
    }
    .about-trevor {
       padding-left: 7%;
       display: flex;
       flex-wrap: wrap;
       gap: 10%;
    }
  
    #noah-trevor{
       margin-top: 4%;
       width: 85vw;
    }
    #response-to-quote {
       margin-left: 10%;
       position: relative;
       height: 100vh;
    }
    .greater {
       right: 25%;
       cursor: pointer;
       top: 30%;
    }
    
    .less {
       cursor: pointer;
       top: 30%;
       right: 35%;
    }
    .personal-blog {
       width: 100vw;
       display: flex;
       flex-direction: column;
       height: 100vh;
    }
    .blog-content {
       margin-left: 1%;
       margin-top: 5%;
       width: 100%;
       height: 40vh;
    }
    .response.active {
       display: block;
       height: 40vh;
    }
 }
 
 