.back{
    background-image: url(Images/person.avif);
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
#review{
    width: 10.5cm;
    height: 13cm;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    border-radius: 2cm;
    padding: 1cm;
}
.book{
    background-color:white;
    position: absolute;
    width: 25cm;
    height: 15cm;
    margin-left: 10cm;
    margin-top: 5cm;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
}
.heart{
    position: absolute;
}
#crime{
    position: absolute;
    top: 2cm;
    /* color: white; */
    left: 16cm;
    font-family: "Merriweather";
    /* font-size: 20px; */
}
#rename{
    position: absolute;
    top: 3.5cm;  
    left: 12cm;
    font-family: "Poppins";

}
#book-review{
    width: 4cm;
    height: 1.5cm;
    background-color: #212A31;
    border: none;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 10cm;
    right: 5.8cm;
}
#book-review:hover{
    color: rgb(2, 1, 1);
    background-color: orange;
}
#audio{
    background-color: black;
    /* position: absolute; */
}
@media screen and (min-width: 350px) and (max-width: 1000px){
    .back{
        background-image: url(Images/person.avif);
        background-size: cover;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: darken;
        /* overflow-y: hidden; */
    }
    #review{
        width: 8.5cm;
        height: 13cm;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
        border-radius: 2cm;
        padding: 0.2cm;
        
    }
    .book{
        background-color:white;
        /* position: absolute; */
        width: 9cm;
        height: 15.5cm;
        /* margin-left: 10cm; */
        /* margin-top: 5cm; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 20px;
        /* right: 0.1cm; */
        top: -1cm;
        margin-left: 2%;
        /* display: flex; */
        /* display: block; */
    }
    .heart{
        position: absolute;
    }
    #crime{
        position: absolute;
        top: 2cm;
        /* color: white; */
        left: 16cm;
        font-family: "Merriweather";
        /* font-size: 20px; */
        margin-top: 15cm;
        margin-left: -13cm;
    }
    #rename{
        position: absolute;
        top: 3.5cm;  
        left: 12cm;
        font-family: "Poppins";
        margin-top: 15cm;
        margin-left: -12cm;
        font-size: 13px;
    
    }
    #book-review{
        width: 4cm;
        height: 1.5cm;
        background-color: #212A31;
        border: none;
        border-radius: 15px;
        color: white;
        position: absolute;
        top: 13.8cm;
        right: 3cm;
        margin-right: 12cm;
    }
    #book-review:hover{
        color: rgb(2, 1, 1);
        background-color: orange;
    }
    #audio{
        background-color: black;
        /* position: absolute; */
    }   
}
@media screen and (min-width: 412px) and (max-width: 915px){
    .back{
        background-image: url(Images/person.avif);
        background-size: cover;
        height: 110vh;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: darken;
        /* overflow-y: hidden; */
    }
    #review{
        width: 10cm;
        height: 13cm;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
        border-radius: 2cm;
        padding: 0.2cm;
        padding-top: 0.5cm;
        
    }
    .book{
        background-color:white;
        /* position: absolute; */
        width: 10.2cm;
        height: 14cm;
        /* margin-left: 10cm; */
        /* margin-top: 5cm; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 20px;
        /* right: 0.1cm; */
        top: -1cm;
        margin-left: 2%;
        /* display: flex; */
        /* display: block; */
    }
    .heart{
        position: absolute;
    }
    #crime{
        position: absolute;
        top: 2cm;
        /* color: white; */
        left: 16cm;
        font-family: "Merriweather";
        /* font-size: 20px; */
        margin-top: 15cm;
        margin-left: -13cm;
        color: white;
    }
    #rename{
        position: absolute;
        top: 3.5cm;  
        left: 12cm;
        font-family: "Poppins";
        margin-top: 15cm;
        margin-left: -12cm;
        font-size: 13px;
        color: white;
    }
    #book-review{
        width: 4cm;
        height: 1.5cm;
        background-color: #212A31;
        border: none;
        border-radius: 15px;
        color: white;
        position: absolute;
        /* top: 13.8cm; */
        /* right: 3cm; */
        /* margin-right: 12cm; */
    }
    #book-review:hover{
        color: rgb(2, 1, 1);
        background-color: orange;
    }
    #audio{
        background-color: black;
        /* position: absolute; */
    }   
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .back{
        background-image: url(Images/person.avif);
        background-size: cover;
        height: 110vh;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: darken;
        /* overflow-y: hidden; */
    }
    #review{
        width: 12cm;
        height: 13cm;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
        border-radius: 2cm;
        padding: 0.4cm;
        padding-top: 0.5cm;
       
    }
    .book{
        background-color:white;
        /* position: absolute; */
        width: 13cm;
        height: 14cm;
        /* margin-left: 10cm; */
        /* margin-top: 5cm; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 20px;
        /* right: 0.1cm; */
        top: -1cm;
        margin-left: 15%;
        /* display: flex; */
        /* display: block; */
    }
    .heart{
        position: absolute;
    }
    #crime{
        position: absolute;
        top: 2cm;
        /* color: white; */
        left: 16cm;
        font-family: "Merriweather";
        /* font-size: 20px; */
        margin-top: 15cm;
        margin-left: -13cm;
        color: white;
    }
    #rename{
        position: absolute;
        top: 3.5cm;  
        left: 15cm;
        font-family: "Poppins";
        margin-top: 15cm;
        margin-left: -13cm;
        font-size: 16px;
        color: white;
    }
    #book-review{
        width: 4cm;
        height: 1.5cm;
        background-color: #212A31;
        border: none;
        border-radius: 15px;
        color: white;
        /* position: absolute; */
        /* top: 13.8cm; */
        /* right: 3cm; */
        /* margin-right: 12cm; */
    }
    #book-review:hover{
        color: rgb(2, 1, 1);
        background-color: orange;
    }
    #audio{
        background-color: black;
        /* position: absolute; */
    }  
}