.heading{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./queenImages/book.jpg');
    background-size: cover;
    background-position: center;
    opacity: 1000;
  height: 70vh;
}
.header img{
    width:50vh;
    height: 55vh;
    margin-top: 10vh;
    margin-left: 20vh;
}
.heading p{
    color: white;
    font-size: 5vh;
    position: relative;
    top:25vh;
    text-align: center;
}
.bornACrime img{
    width:50vh;
}
style #like-section {
    text-align: center;
    margin-top: 0.5%;
  }
  #like-btn {
    background-color: #FF4D6D;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    border: none;
    border-radius: 5px 5px ;
    cursor: pointer;
    width:7vh;
  }
  #like-btn:hover {
    background-color: #004D4D;
    color: #FF4D6D;
  }
  #like-count {
    font-size: 25px;
    color: white;
  }a{
    text-decoration: none;
    color:white;
  }
  nav {
    top: 0;
    background-image: linear-gradient(#212A31, #2E3944);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: sticky;
    width: 105vw;
    font-size: 3vh;
  }
  nav a {
    font-size: 70%;
    font-weight: bolder;
  }
  nav a:hover {
    color: #FFBF00;
    text-decoration: underline;
  }
  .visual-img {
    width: 100px;
  }
.credit{
    font-size: 3vh;
    color: rgb(102, 23, 36);
    
}
.powerofHabit p{
    font-size: 3vh;
    margin-top: 10vh;
    margin-left: 9vh;
    width: 90vh;
    text-align: justify; 
}
.powerofHabit img{
   width:50vh;
   height: 55vh;
   margin-top: 10vh;
   margin-right: -10vh;
}
body{
    margin: -5vh;
    overflow-x: hidden;
}
.header{
    display: flex;
}
.powerofHabit{
    display: flex;
    gap:30vh;
}
.bornACrime{
    font-size: 3vh;
    margin-top: 10vh;
    margin-left: 9vh;
    width: 90vh;
    text-align: justify;
}
button{
    padding: 2vh;
    width: 40vh;
    background-color: black;
    color: white;
    margin-left: 15vh;
    margin-top: 5vh;
    cursor: pointer;
    
}
footer {
  background-image: linear-gradient(#212A31, #2E3944);
  color: white;
  justify-content:space-between;
}
.footer-content{
  line-height: 3;
  font-size: 120%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.copy-right{
  text-align: center;
  color:#ffbf00;
}
.footer-nav{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.location{
  line-height: 1;
}
.location p:nth-child(2){
  font-size: small;
}
footer input{
  padding:3%;
  width:100%;
}
.socials i{
margin-left: 10px;
font-size: large;
}
.socials{
  line-height: 1;
}
#mailbox{
  padding:3%;
  width:30%;
  border-radius: 50px;
}
